/*Global style*/

a {
    text-decoration: none;
} /*Removes link underlining*/

p {
    margin: 0%;
    padding: 0%;
} /*Disables automatic spacing on paragraphs*/

/*Header link tree interactive styles*/
.links a:visited {
    color: rgb(241, 241, 240);
}

.links a:hover {
    color: rgb(185, 185, 183);
}

/*Page background style*/
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0%;
}

/*Page heading style*/
.header {
    background-color: rgb(41, 41, 41);
    border-bottom: solid rgb(33, 34, 34) 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 136px;
}

.title {
    color: white;
    font-size: 36px;
    font-weight: 900;
}

.header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagline {
    color: rgb(241, 241, 240);
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 64px;
    border: solid rgb(241, 241, 240) 2px;
    border-radius: 8px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 64px;
    border: solid rgb(241, 241, 240) 2px;
    border-radius: 8px;
}

/*Page body content style*/
.content {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
    padding-top: 32px;
    padding-right: 116px;
    padding-left: 116px;
}

/*Sets the styles for the individual entries*/
.entry {
    border: solid rgb(241, 241, 240) 2px;
    border-radius: 12px;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 24px;
    padding-bottom: 24px;
}